<!-- List QnA page -->
<ng-container *ngIf="!isPageDetailQA">
  <div style="padding: 0 5rem">

    <ng-container *ngIf="courseSetting.Allow_students_create_disscussion_on_QA">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 2rem 0;" *ngIf="!isEdit">
          <div class="pull-right">
            <button mat-raised-button color="warn" (click)="isEdit = true"
              class="waves-effect">{{l('Ask_A_Question')}}</button>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Edit QnA page -->
    <ng-container *ngIf="isEdit; else elseViewTemplate">
      <div class="main">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 example-container">
            <mat-form-field>
              <input matInput [(ngModel)]="title" placeholder="Title *">
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="content">{{l("Content_question")}}</label>
            <editor apiKey={{tinymceApiKey}} name="content" [(ngModel)]="content"></editor>
          </div>
          <div class="col-sm-12" style="padding-top: 2rem;">
            <button mat-raised-button [disabled]="!title" color="primary" (click)="onSaveQnAClick()" mat-button
              class="waves-effect pull-right">
              {{l("Save")}}
            </button>
            <div class="pull-right my-1">&nbsp;</div>
            <button mat-raised-button (click)="isEdit=false" mat-button class="waves-effect pull-right">
              {{l("Cancel")}}
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- View QnA page -->
    <ng-template #elseViewTemplate>
      <!-- Sort and Filter -->
      <div class="row" *ngIf="courseSetting.Allow_students_create_disscussion_on_QA">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="min-width: 40px;">
            <mat-form-field>
              <mat-select [(value)]="sortDirection" (selectionChange)="getDataPage(pageNumber)"
                placeholder='{{l("Sort_by_")}}'>
                <mat-option value="date_asc"> {{l("Sort_by_recently")}}</mat-option>
                <mat-option value="date_desc">{{l("Sort_by_oldest")}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pull-right" style="padding: 0px;">
            <section class="checkbox-section pull-right">
              <mat-checkbox color="primary" class="example-margin" [(ngModel)]="isFollower" (change)="getDataPage(1);">
                {{l('See_questions_Im_following')}}</mat-checkbox>
              <mat-checkbox color="primary" [(ngModel)]="isResponse" (change)="getDataPage(1);">
                {{l('See_questions_without_responses')}}</mat-checkbox>
            </section>
          </div>
        </div>
      </div>

      <!-- List QnA page - Content -->
      <ng-container *ngIf="courseSetting.Allow_students_create_disscussion_on_QA">
        <div class="main">
          <ng-container
            *ngFor="let item of qaQuestions  | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:10px 0;">
                <div class="col-xs-1" style="width: 60px;">
                  <ngx-avatar size="50" name={{item.fullName}} [src]="getImageServerPath(item.imageCover)"></ngx-avatar>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                  <!-- <div title={{item.fullName}}>{{item.userName}}</div>
                <div class="posted">Posted:&nbsp;{{item.creationTime | dateLocal:'dd/MM/yy hh:mm a'}}</div> -->
                  <div class="pull-right" style="vertical-align: text-top">
                    <div style="text-align: center"><b>{{item.responses}}</b></div>
                    <div style="text-align: center"><code>Responses</code></div>
                  </div>
                  <div style="padding-left: 0">
                    <div>
                      <a class="title" (click)="onGetDetailAnswer(item)">
                        {{item.title}}
                      </a>
                    </div>
                    <div class="content">
                      <ng-container *ngIf="item.content?.length > 1500; else elseTemplate_DetailContent">
                        <span [innerHTML]="item.content.slice(0,1500)"></span> ...
                        <a (click)="onGetDetailAnswer(item)">Show detail</a>
                      </ng-container>
                      <ng-template #elseTemplate_DetailContent>
                        <span [innerHTML]="item.content"></span>
                      </ng-template>
                      <!-- <span [innerHTML]="item.content"></span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
          </ng-container>
        </div>
        <!-- Paging -->
        <div class="text-align: center;" *ngIf="totalItems > pageSize">
          <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
        </div>
      </ng-container>

      <!-- FAQ -->
      <div class="main-faq" *ngIf="2 > pageNumber">
        <mat-accordion>
          <ng-container *ngFor="let item of faqQuestions">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="badge badge-pill badge-secondary" style="max-height: 2rem;">FAQ</span>
                  <div style="font-weight: bold; padding-left: 2rem;">
                    {{item.title}}
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="row">
                <div class="col-xs-1 " style="widows: 50px; padding-left:7rem;">
                  {{l('Answer')}}:
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding-left:4rem;">
                  <span [innerHTML]="item.content"></span>
                </div>
              </div>

            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </div>
    </ng-template>


  </div>
</ng-container>


<!-- Detail QnQ page -->
<ng-container *ngIf="isPageDetailQA">
  <app-tab-qa-detail [courseInstanceId]="courseInstanceId" (isPageDetailQALoad)="loadQAQuestions($event)"
    [courseId]="courseId" [qaQuestion]="qaQuestion"></app-tab-qa-detail>
</ng-container>
