table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  .mt-10{
    margin-top: 10px;
  }

  img {
    height: 60px;
    width: 60px;
  }
