<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>
          {{l('Quizzes')}}
        </h2>
        <div class="clearfix mt-10" *ngIf="courseInstanceId != null  as value;">
          <a class="waves-effect waves-block" href="/app/course/{{courseInstanceId}}">
            {{l('Back to course')}} </a>
          <a class="waves-effect waves-block" target="_blank" href="/app/view-quiz/{{quizId}}">
            {{l('View')}} </a>
        </div>
      </div>
      <div class="body table-responsive">
        <mat-tab-group>
          <mat-tab label="Details" dynamicHeight=true>
            <div class="wrapper">
              <div style="margin-bottom: 5px;">
                <form #editForm="ngForm" autocomplete="off" novalidate (ngSubmit)="save()">
                  <div class=" clearfix mt-10">
                    <div class="col-sm-6">
                      <input required name="Title" class="form-control" required matInput placeholder="{{l('Title')}}"
                        [(ngModel)]="quiz.title">
                    </div>
                  </div>
                  <div class=" clearfix">
                    <div class="col-sm-12">
                      <label for="content">{{l("Quiz Instructions")}}</label>
                      <editor apiKey="240wmmek0oh5vnvsfrqaih1hicr5iqrp21ok77azbyrt0njz" name="content" [(ngModel)]="quiz.content"
                        [init]="initTinymce"></editor>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class=" clearfix">
                      <div class="col-sm-2">
                        <label for="type">{{l("Quiz Type")}}</label>
                      </div>
                      <div class="col-sm-8">
                        <mat-select class="form-control" required name="type" [(ngModel)]="quiz.type">
                          <mat-option *ngFor="let t of quiztypes" [value]="t.id">
                            {{t.name}}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <div class=" clearfix">
                      <div class="col-sm-2">
                        <label for="Score">{{l("Score")}}</label>
                      </div>
                      <div class="col-sm-8">
                        <input name="Score" class="form-control" [(ngModel)]="quiz.settings.point" type="number">
                      </div>
                    </div>
                    <div class=" clearfix">
                      <div class="col-sm-2">
                        <label for="Score">{{l("Option")}}</label>
                      </div>
                      <div class="col-sm-10">
                        <div class="col-sm-12 clearfix">
                          <input type="checkbox" id="isshuffle" class="form-control" name="ShuffleAnswer" [(ngModel)]="quiz.isShuffleAnswer"
                            checked>
                          <label for="isshuffle">{{l("Shuffle Answer")}}</label>
                        </div>
                        <div class="clearfix">
                          <div class="col-sm-3">
                            <input type="checkbox" id="istimelimit" class="form-control" name="checkTimeLimit"
                              [(ngModel)]="isTimeLimit" checked>
                            <label for="istimelimit">{{l("TimeLimit")}}</label>
                          </div>
                          <div class="col-sm-4" *ngIf="isTimeLimit as value;">
                            <input name="TimeLimit" class="form-control" [(ngModel)]="quiz.timeLimit" type="number"
                              placeholder="{{l('minutes')}}">
                          </div>
                        </div>
                        <div class="col-sm-12 box-options">
                          <input id="isallowMultipleAttemps" [(ngModel)]="isallowAttemptsBox" name="allowMultipleAttempts"
                            type="checkbox">
                          <label for="isallowMultipleAttemps">{{l("Allow Multiple Attemps")}}</label>
                          <div class="col-sm-10 pull-right" *ngIf="isallowAttemptsBox as value;">
                            <div class="clearfix">
                              <div class="col-sm-6">
                                <label for="scoretype">{{l("Quiz Score To Keep")}}</label>
                              </div>
                              <div class="col-sm-6">
                                <mat-select class="form-control" name="scoretype" [(ngModel)]="quiz.scoreKeepType">
                                  <mat-option *ngFor="let t of quizscoretokeeptypes" [value]="t.id">
                                    {{t.name}}
                                  </mat-option>
                                </mat-select>
                              </div>
                            </div>
                            <div class="clearfix">
                              <input id="isallowAttemps" name="allowAttempts" type="checkbox" [(ngModel)]="isallowAttempts">
                              <label for="isallowAttemps">{{l("Allow Attemps")}}</label>
                              <input name="allowattemps" class="form-control" type="number" matInput [(ngModel)]="quiz.allowAttempts">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 box-options">
                          <input id="showOneQuestionAtATime" name="showOneQuestionAtATime" type="checkbox" [(ngModel)]="quiz.showOneQuestionAtATime">
                          <label for="showOneQuestionAtATime">{{l("ShowOneQuestionAtATime")}}</label>
                          <div class="col-sm-10 pull-right" *ngIf="quiz.showOneQuestionAtATime as value;">
                            <input id="lookQuestionAfterAnswer" name="lookQuestionAfterAnswer" type="checkbox"
                              [(ngModel)]="quiz.lookQuestionAfterAnswer">
                            <label for="lookQuestionAfterAnswer">{{l("Look Question After Answer")}}</label>
                          </div>
                        </div>
                        <div class="col-sm-12 box-options">
                          <input id="StudentReponseType" name="responseType" type="checkbox" [(ngModel)]="studentSeeTheirQuiz">
                          <label for="StudentReponseType">{{l("Let Student See Their Quiz Response")}}</label>
                          <!-- <div class="col-sm-10 pull-right" *ngFor="let t of studentreponsetypes" >
                          <input type="radio" id="StudentReponseType{{t.id}}" [(ngModel)]="quiz.responseType" name="StudentReponseType" value={{t.id}}>
                          <label for="StudentReponseType{{t.id}}">{{t.name}}</label>
                        </div> -->
                          <div class="col-sm-10 pull-right" *ngIf="studentSeeTheirQuiz as value;">
                            <input type="radio" id="OnlyAfterLastAttempt" [(ngModel)]="quiz.responseType" name="StudentReponseType"
                              value="0">
                            <label for="OnlyAfterLastAttempt">OnlyAfterLastAttempt</label>
                          </div>
                          <div class="col-sm-10 pull-right" *ngIf="studentSeeTheirQuiz as value;">
                            <input type="radio" id="OnlyOnceAfterEachAttempt" [(ngModel)]="quiz.responseType" name="StudentReponseType"
                              value="1">
                            <label for="OnlyOnceAfterEachAttempt">OnlyOnceAfterEachAttempt</label>
                          </div>
                          <div class="col-sm-10 pull-right" *ngIf="studentSeeTheirQuiz as value;">
                            <input type="radio" id="SeeTheCorrectAnswer" [(ngModel)]="quiz.responseType" name="StudentReponseType"
                              value="2">
                            <label for="SeeTheCorrectAnswer">SeeTheCorrectAnswer</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class=" clearfix">
                      <div class="col-sm-2">
                        <label for="Score">{{l("Assign To")}}</label>
                      </div>
                      <div class="col-sm-10">
                        <div class="col-sm-12 box-options">
                          <div class=" clearfix col-sm-8">
                            <label for="AssignTo">{{l("Assign")}}</label>
                          </div>
                          <div class="clearfix col-sm-8">
                            <ng-multiselect-dropdown name="AssigntTo" [placeholder]="'Select Groups'" [data]="dropdownListGroup"
                              [(ngModel)]="selectedGroupItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)">
                            </ng-multiselect-dropdown>

                          </div>
                          <div class="clearfix col-sm-8">
                            <label for="NoOfDueDays">{{l("No Of Due Days")}}</label>
                            <input class="form-control" name="NoOfDueDays" matInput [(ngModel)]="quizsettings.noOfDueDays">
                          </div>
                          <div class="clearfix mt-10">
                            <div class="col-sm-6 datebox">
                              <div class=" clearfix">
                                <label for="AvaiableFrom">{{l("Avaiable From")}}</label>
                              </div>
                              <mat-form-field>
                                <input matInput name="StartTime" [owlDateTime]="startTime" placeholder="Start Time"
                                  [(ngModel)]="quizsettings.startTimeUtc">
                              </mat-form-field>
                              <span [owlDateTimeTrigger]="startTime"><i class="fa fa-calendar"></i></span>
                              <owl-date-time #startTime></owl-date-time>
                            </div>
                            <div class="col-sm-6 datebox">
                              <div class=" clearfix">
                                <label for="Until">{{l("Until")}}</label>
                              </div>
                              <mat-form-field>
                                <input matInput name="EndTime" [owlDateTime]="endTime" placeholder="End Time"
                                  [(ngModel)]="quizsettings.endTimeUtc">
                              </mat-form-field>
                              <span [owlDateTimeTrigger]="endTime"><i class="fa fa-calendar"></i></span>
                              <owl-date-time #endTime></owl-date-time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button [disabled]="!editForm.form.valid" type="submit" class="btn btn-primary outline waves-effect waves-float pull-right">
                      {{l("Save")}}
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Questions" dynamicHeight=true>
            <div class="wrapper">
              <div style="margin-bottom: 5px;">
                <div class="body table-responsive">
                  <div class="tab">
                    <div class="col-sm-12">
                      <mat-form-field class="col-sm-6">
                        <input matInput placeholder="{{l('Text to search')}}" id="searchText" type="text" [(ngModel)]="searchText"
                          maxlength="128" (keyup.enter)="reloadData()">
                        <i class="icon-15 material-icons" matPrefix>search</i>
                      </mat-form-field>
                      <div class="col-sm-6">
                        <button type="button" (click)="reloadData()" style="margin-top: 10px;" class="btn btn-primary waves-effect mt-10">Search</button>
                      </div>
                    </div>
                    <!-- <app-filter [inputFilters]="FILTER_CONFIG" (outputFilter)="onAddedFilterItem($event)"
                      (outputDoFilterData)="reloadData()">
                    </app-filter> -->
                  </div>
                  <!-- <table class="table table-hover table-striped">
                    <tbody>
                      <tr *ngFor="let item of filterItems">
                        <td>{{item.propertyName}}</td>
                        <td>{{item.comparisionName}}</td>
                        <td>{{item.value}}</td>
                        <td><a href="javascript:void(0);" class="waves-effect waves-block" (click)="deleteFilterItem(item)"><i
                              class="material-icons">delete_sweep</i></a></td>
                      </tr>
                    </tbody>
                  </table> -->
                  <!-- ******************************************************** -->

                  <div class="wrapper">
                    <div style="margin-bottom: 5px;" class="text-right">
                      <button (click)="createQuestion()" mat-button class="btn btn-primary outline waves-effect">New
                        Question</button>
                    </div>
                    <div class="layout-padding border-layout">
                      <ng-template #recursiveList let-list>

                        <mat-expansion-panel *ngFor="let item of list | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItems }; let i = index"
                          [ngClass]="i == 0 ? 'layout-padding-header' : 'layout-padding-header border-panel'"
                          [hideToggle]="true" [expanded]="item.isExpanded" #panelModule>

                          <mat-expansion-panel-header style="border-top: solid 1px;">

                            <mat-panel-title>
                              <mat-icon *ngIf="!panelModule.expanded"><i class="material-icons">arrow_right</i></mat-icon>
                              <mat-icon *ngIf="panelModule.expanded"><i class="material-icons">arrow_drop_down</i></mat-icon>
                              <div [innerHtml]="item.title"></div>
                            </mat-panel-title>

                            <!-- <mat-panel-description *ngIf="panelModule.expanded"> -->
                            <mat-panel-description>
                              <span>{{item.typeName}}</span>&nbsp;&nbsp;
                              <span *ngIf="item.group == 0">{{item.mark}} pts</span>&nbsp;&nbsp;
                              <span *ngIf="item.type == 3">{{item.nWord}} {{l("NWord")}}</span>&nbsp;&nbsp;
                              <a (click)="editQuestion1(item)"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;<span></span></a>&nbsp;&nbsp;
                              <a (click)="deleteQuestion(item)"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;<span></span></a>&nbsp;&nbsp;
                            </mat-panel-description>

                          </mat-expansion-panel-header>
                          <div class="layout-padding">

                            <div *ngIf="item.isEditing">
                              <div class="form-group form-float">
                                <div class="form-line">
                                  <editor [ngModelOptions]="{standalone: true}" apiKey="240wmmek0oh5vnvsfrqaih1hicr5iqrp21ok77azbyrt0njz"
                                    [(ngModel)]="item.title" [init]="initTinymce"></editor>
                                </div>
                              </div>

                              <div *ngIf="item.group == 0" class="form-group form-float">
                                <div class="form-line">
                                  <mat-form-field>
                                    <input matInput placeholder="{{l('Mark')}}" type="text" [(ngModel)]="item.mark"
                                      class="validate">
                                  </mat-form-field>
                                </div>
                              </div>

                              <div *ngIf="item.type == 3">
                                <div class="form-group form-float">
                                  <div class="form-line">
                                    <mat-form-field>
                                      <input matInput placeholder="{{l('NWord')}}" type="text" [(ngModel)]="item.nWord"
                                        class="validate">
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              <!--  *********************************************************************************************  -->
                              <div *ngIf="item.type != 2">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <mat-form-field>
                                      <input matInput placeholder="Answer" id="Answer" name="Answer" type="text"
                                        [(ngModel)]="currentAnswer.rAnswer" class="validate">
                                    </mat-form-field>
                                  </div>
                                  <!-- MCQ and SCQ IsCorrect-->
                                  <div *ngIf="item.type == 0 || item.type == 1" class="col-sm-3">
                                    <div class="form-group form-float">
                                      <input id="isCorrect" type="checkbox" name="isCorrect" [(ngModel)]="currentAnswer.isCorrect"
                                        class="form-control" />
                                      <label for="isCorrect" class="form-label">IsCorrect</label>
                                    </div>
                                  </div>

                                  <!-- Ranking sequenceOrder-->
                                  <div *ngIf="item.type == 4" class="col-sm-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Order" id="sequenceOrder" name="sequenceOrder" type="text"
                                        [(ngModel)]="currentAnswer.sequenceOrder" class="validate">
                                    </mat-form-field>
                                  </div>

                                  <!-- Matching lAnswer-->
                                  <div *ngIf="item.type == 5" class="col-sm-3">
                                    <mat-form-field>
                                      <input matInput placeholder="Match to" id="lAnswer" name="lAnswer" type="text"
                                        [(ngModel)]="currentAnswer.lAnswer" class="validate">
                                    </mat-form-field>
                                  </div>

                                  <div class="col-sm-3 filter">
                                    <button type="button" (click)="addOrEditAnswer(item)" class="btn btn-primary waves-effect"
                                      [disabled]="currentAnswer.rAnswer==''">{{buttonName}}</button>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <!--  *****end create edit answer****  -->
                            <table *ngIf="item.type != 2" class="table table-hover table-striped">
                              <thead>
                                <tr>
                                  <th>{{l('Answer')}}</th>
                                  <th *ngIf="item.type == 0 || item.type == 1">
                                    <!-- MCQ, SCQ  -->
                                    <div style="text-align:center">{{l('IsCorrect')}}</div>
                                  </th>
                                  <th *ngIf="item.type == 4">{{l('Order')}}</th> <!-- ranking -->
                                  <th *ngIf="item.type == 5">{{l('Match to')}}</th> <!-- matching -->
                                  <th *ngIf="item.isEditing">{{l('Actions')}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let ans of item.answers">
                                  <td>{{ans.rAnswer}}</td>
                                  <!-- <td>{{item.isCorrect}}</td> -->
                                  <td *ngIf="item.type == 0 || item.type == 1" align="center">
                                    <i class="material-icons" *ngIf="ans.isCorrect" style="color:green;">check_box</i>
                                    <i class="material-icons" *ngIf="!ans.isCorrect" style="color:red;">indeterminate_check_box</i>
                                  </td>
                                  <td *ngIf="item.type == 4">{{ans.sequenceOrder}}</td><!-- ranking -->
                                  <td *ngIf="item.type == 5">{{ans.lAnswer}}</td><!-- matching -->
                                  <td *ngIf="item.isEditing">
                                    <a href="javascript:void(0);" class="waves-effect waves-block" (click)="editAnswer(ans)"><i
                                        class="material-icons">edit</i></a>
                                    <a href="javascript:void(0);" class="waves-effect waves-block" (click)="deleteAnswer(item, ans)"><i
                                        class="material-icons">delete_sweep</i></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <button *ngIf="item.isEditing" [disabled]="saving" type="button" class="btn btn-default waves-effect"
                              style="margin-right: 12px" (click)="cancelEditQuestion(item)">
                              {{l("Cancel")}}
                            </button>
                            <button *ngIf="item.isEditing" [disabled]="saving" type="button" (click)="saveQuestion(item)"
                              class="btn btn-primary outline waves-effect">
                              {{l("Save")}}
                            </button>
                            <!-- <ng-container *ngTemplateOutlet="listChildren; context:{ $implicit: item.answers }"></ng-container> -->
                          </div>
                        </mat-expansion-panel>
                      </ng-template>
                      <div class="layout-padding">
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: questions }"></ng-container>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="text-right" style="margin: 15px 0 15px 15px;">
                    <button (click)="saveModulesPages()" mat-button class="btn btn-primary waves-effect">Save</button>
                    <button (click)="getModulesPagesByCourseId(this.course.id)" style="margin-left: 5px;" mat-button
                      class="btn btn-primary waves-effect">Reload</button>
                  </div> -->



                  <div class="text-align: center;" *ngIf="totalItems > pageSize">
                    <pagination-controls (pageChange)="getDataPage($event)" id="server"></pagination-controls>
                  </div>
                  <button type="button" data-toggle="modal" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right"
                    (click)="createQuestion()">
                    <i class="material-icons">add</i>
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>


<create-question-modal #createQuestionModal (modalSave)="refresh()" [courseId]="courseId" [quizId]="quizId" [group]="quiz.type"></create-question-modal>
<edit-question-modal #editQuestionModal (modalSave)="refresh()" [courseId]="courseId"></edit-question-modal>