.select-tags{
    height: 300px;
}

:host {
    display: block;
    box-sizing: border-box;
}

.p-2 {
    padding: 2px;
}



// for vertical tab
:host {
    >.container {
        max-width: 1264px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background: none;
    }
    /deep/ {
        .mat-tab-group {
            flex-direction: row;
        }
        .mat-tab-header {
          border-bottom: none;
          margin-right: 20px;
        }
        .mat-tab-header-pagination {
            display: none !important;
        }
        .mat-tab-labels {
            flex-direction: column;
        }
        .mat-tab-label-active {
          border: 1px solid blue;
          border-radius: 10px;
        }
        .mat-ink-bar {
            display: none;
            // height: 100%;
            left: 98% !important;
        }
        .mat-tab-body-wrapper {
            flex: 1 1 auto;
        }
    }
}

//end for vertical tab
