<div bsModal #resetPasswordUserModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="resetPasswordUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">
            <form *ngIf="active" #resetPasswordUserForm="ngForm" id="frm_edit_user" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("ResetPasswordFor")}} {{userName}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="reset-password-user-details">

                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <button type="button" class="btn btn-primary waves-effect" (click)="generateRandomPassword()">
                                            {{l("GeneratePassword")}}
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-6" style="display: flex">
                                    <input placeholder='{{l("NewPassword")}}' [attr.type]="showPassword == false ? 'password' : 'text'" id="newPassword" type="password" name="NewPassword" [(ngModel)]="user.newPassword" required maxlength="32" minlength="2" class="validate form-control">
                                    <button type="button" class="btn btn-default" (click)="onShowPassword()">
                                        <i [ngClass]="classPassword"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!resetPasswordUserForm.form.valid" type="submit" class="btn btn-primary waves-effect">
                        {{l("Save")}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
