<div class="clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="body table-responsive" *ngIf="!assignment.isDisable">
        <h2>{{assignment.title}}</h2>
        <div class="col-sm-12 box-content" [innerHTML]="assignment.content | convertHtml">
        </div>
        <div class="clearfix ">
          <div class="col-sm-2">
            <label>
              {{l('Submission')}}
            </label>
          </div>
          <div class="col-sm-4">
            <input class="form-control" disabled value="{{getSubmissionType(assignment.submissionType)}}">
          </div>
        </div>
        <div class="col-sm-10 clearfix pull-right box-attachments" *ngIf="assignment.submissionType==1">
          <h4>
            <i class="fa fa-paperclip"></i>
            {{l('Assignment Upload')}}
          </h4>
          <app-file-attachments [entityId]="assignment.settings.id" [entityType]="'student-assignment'">
          </app-file-attachments>
        </div>
      </div>
      <div class="body table-responsive" *ngIf="assignment.isDisable">
        <div class="col-sm-12 box-content">
          <p>This assignment avaiable from  {{assignment.settings.startTimeUtc | dateLocal }} to {{assignment.settings.endTimeUtc | dateLocal}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
