.file-icon{
    color: #337ab7;
    width: 100%;
    font-size: 12em;
}
.delete-item{
    color: #ff0000;
    // position: absolute;
    // top:15px;
    // right: 15px;
    // float: right;
    margin-left: 15px;
}