<div *ngIf="!isMezonApp" class="" [@routerTransition]>
  <div #cardBody class="body">
    <div
    >
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"
        style="margin-top: 25px"
      >
        <button
          mat-flat-button
          type="button"
          (click)="loginWithMezon()"
          color="primary"
          style="width: 250px"
        >
          Login with Mezon
        </button>
      </div>
      <div class="row m-t-35">
        <div class="col-xs-12 text-center" style="color: #959595">
          <small style="font-size: 75%"
            >&copy; {{ currentYear }} NCC LMS. Version {{ versionText }}</small
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isMezonApp" class="auth-container">
  <div class="logo-container">
    <img class="logo" src="/assets/images/ncc-logo.png" alt="logo-ncc" />
  </div>

  <div *ngIf="!isAuthenticating" class="title-container">
    <ng-container *ngIf="!isAuthenFailed">
      <h3>Mezon built-in application deteted</h3>
      <p>You will be login automatically soon...</p>
    </ng-container>
    <ng-container *ngIf="isAuthenFailed">
      <h3>Authentication failed</h3>
      <p>You can try login manualy</p>
      <button mat-flat-button type="button" (click)="retryHashLogin()" color="primary" style="width: 100%">
        Try again
      </button>
    </ng-container>
</div>

  <div *ngIf="isAuthenticating" class="title-container">
    <h3>Mezon built-in Authenticating...</h3>
    <p>You will be redirected to the application shortly</p>
  </div>

  <ng-container *ngIf="!isAuthenFailed">
    <div class="loading">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </ng-container>
</div>
