<div bsModal #editGroupsModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">

        <div #modalContent class="modal-content">
            <form *ngIf="active" #editGroupsForm="ngForm" id="frm_edit_groups" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("EditGroup")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#edit-user-details" data-toggle="tab">Group Details</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-user-details">

                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="username" type="text" name="UserName" [(ngModel)]="group.name" required maxlength="32" minlength="2" class="validate form-control">
                                            <label for="username" class="form-label">{{l("GroupName")}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <textarea id="name" type="text" name="Name" [(ngModel)]="group.description" required maxlength="32" class="validate form-control"></textarea>
                                            <label for="name" class="form-label">{{l("Description")}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select placeholder="{{l('ParentGroup')}}" name="parentId" [(ngModel)]="group.parentId">
                                            <mat-option [value]="">{{l('ParentGroup')}}</mat-option>
                                            <mat-option *ngFor="let group of lstGroups" [value]="group.id">
                                            {{group.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default waves-effect" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button [disabled]="!editGroupsForm.valid" type="submit" class="btn btn-primary outline waves-effect">
                        {{l("Save")}}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
