.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;

}
mat-card {
    transition: transform 200ms, opacity 200ms;
}

.body.table-responsive {
    nav {
        ul {
            li {
                padding-top: 10px;
                list-style: none;
            }
        }
    }
}


.p-2 {
    padding: 2px;
}



  .dndDraggingSource {
    opacity: .5;
    transform: scale(.98);
  }

  .layout-padding.border-layout {
    border-color: #e9e9e9 !important;
    border: 0.5px solid;
  }

  .layout-padding {
    border-color: #9b9b9b  !important;
    border: 0.5px dotted;
    width: 100%;
    min-height: 60px;
  }

.panel-body {
    background-color: #e9e9e9;
}

.mat-expansion-panel-header-description {
    flex-grow: 2;
    position: absolute;
    right: 0;
}

.layout-padding-header {
    background-color: #e9e9e9;
}

.btn.waves-effect {
    color: #fff;
}

.layout-padding {
    background-color: #e9e9e9;
}

.wrapper {
    margin-top: 10px;
}

.basic-container {
    padding: 30px;
}

  .version-info {
    font-size: 8pt;
    float: right;
  }


.dndPlaceholder {
  min-height: 48px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}


.unassigned-students{
    width: 300px;
}

.group-students{
    width: 600px;
}

.flex-show {
  display: flex;
  align-items: center;
}
.save-lable{
  margin-top: 9px;
  margin-right: 15px;
}
.question-container{
  padding-left: 12px;
  margin-bottom: 5px;
}
.question-title{
  font-size: 17px;
}
.mat-checkbox-layout{
  font-weight: normal;
}
.answer{
  font-weight: normal;
}
.editor-answer{
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
.red-border{
  border-left: 3px solid #be4006;
}
.green-border{
  border-left: 3px solid #038615;
}