<div style="font-size: 16px; font-weight: bold; color: gray; padding-bottom: 2rem; ">
    <span>Change Password</span>
    <div (click)="onNoClick()" class="close">x</div>
</div>
<div mat-dialog-content>

    <form [formGroup]="registrationFormGroup">
        <mat-form-field class="form-group">
            <input matInput title="Current Password" placeholder="{{l('Current Password')}}" type="password" name="currentPass" autocomplete="currentPass" formControlName="currentPass">
            <mat-hint class="bg-danger" *ngIf="fp.currentPass.errors?.required && fp.currentPass.touched">Current Password is required</mat-hint>
        </mat-form-field>

        <div [formGroup]="passwordFormGroup">
            <mat-form-field class="form-group">

                <input matInput type="password" (keyup)="onPasswordChange(fc.password.value)" autocomplete="password-old" placeholder="{{l('New Password')}}" name="password" formControlName="password">
                <mat-icon matSuffix><i class="fa fa-question" style="color: #1f91f3; font-size: 11pt" aria-hidden="true" matTooltip="{{l(messageRequidPassword)}}" [matTooltipPosition]="'above'"></i>
                </mat-icon>
                <mat-hint class="bg-danger" *ngIf="passwordInValid">
                    {{l(messageRequidPassword)}}
                </mat-hint>
            </mat-form-field>

            <mat-form-field class="form-group">
                <input matInput type="password" autocomplete="repeatPassword" placeholder="{{l('Confirm Password')}}" name="repeatPassword" formControlName="repeatPassword">
                <mat-hint class="bg-danger" *ngIf="fc.repeatPassword.errors?.required && fc.repeatPassword.touched">
                    Confirm password is required</mat-hint>
                <mat-hint class="bg-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match
                </mat-hint>
            </mat-form-field>

        </div>
    </form>
    <!-- <div style="font-size: 8pt; margin-bottom: 10px; border: 1px solid lightgray; background-color: lightyellow ">
        <div>
            *Password minimum 8 characters.<br> *Password contains the same upper case, lower case, symbols, nummeric.
        </div>
    </div> -->
</div>

<div mat-dialog-actions class="pull-right">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="!registrationFormGroup.valid || passwordInValid" (click)="onSubmit()" class="btn btn-primary">{{l("Submit")}}</button>
</div>
